.everyone-wins-section {
  background-color: $white;
}

.everyone-wins-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.3rem;
  margin-bottom: 6rem;
  & h2 {
    font-size: 32px;
    font-weight: 800;
    color: #373737;
    text-align: center;
    @media (min-width: 960px) {
      font-size: 48px;
    }
  }
  & .btn-wrap {
    display: flex;
    gap: 2.5rem;
  }
}

.everyone-wins-body {
  & article {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 6rem;
    }
    & svg {
      flex-shrink: 0;
    }
  }
  & ul {
    flex: 1;
    // background-color: yellow;
    // align-self: center;
    min-height: 320px;
    @media (min-width: 320px) {
      min-height: 280px;
    }
    @media (min-width: 360px) {
      min-height: 260px;
    }
    @media (min-width: 410px) {
      min-height: 230px;
    }
    // background-color: red;
    @media (min-width: 1024px) {
      padding-top: 2rem;
      min-height: 390px;
    }
    @media (min-width: 1200px) {
      padding-top: 8rem;
    }
    & li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      font-size: 16px;
      color: #373737;
      margin-bottom: 2.4rem;
      @media (min-width: 330px) {
        gap: 10px;
      }
      @media (min-width: 960px) {
        font-size: 18px;
        gap: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      & img {
        width: 32px;
        height: 32px;
        object-fit: contain;
        object-position: center;
        // margin-top: 5px;
        @media (min-width: 1024px) {
          width: 35px;
          height: 32px;
          // margin-top: 2px;
        }
      }
    }
  }
  & .bg-image-wrap {
    border-radius: 10px;
    flex: 1.4;
    width: 100%;
    aspect-ratio: 1/0.73;
    // background-image: url("/assets/images/everyone-wins-img-1.png");
    background-size: cover;
    background-position: center;
  }
}
