main.single-venue-view {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  &--desktop {
    display: none;
    padding-top: 30px;
    @media (min-width: 1024px) {
      display: block;
    }
  }
  &--mobile {
    display: block;
    // background-color: beige;
    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.explore-network-single-venue-wrap {
  &--desktop {
    display: none;
    @media (min-width: 1024px) {
      display: flex;
    }
  }
  &--mobile {
    display: flex;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  display: flex;
  gap: 3%;
  color: #474244;
  & aside {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 28%;
  }
  & .single-venue-map {
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 220px;
    @media (min-width: 1024px) {
      aspect-ratio: 1/0.9;
      height: auto;
    }
  }
  & .sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
    max-width: 100%;
    & article {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      &.work-hours {
        align-items: flex-start;
      }
      & img {
        width: 23px;
        height: 23px;
        object-fit: contain;
        object-position: center;
      }
      & .venue-info-detail {
        font-size: 15px;
        width: 100%;
        font-weight: 500;
        &.flex {
          display: flex;
          align-items: center;
          gap: 5px;
        }
        &.column {
          display: flex;
          flex-direction: column;
          gap: 5px;
          & span {
            display: block;
          }
        }
      }
      & .work-hours-title {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
      }
      & .work-hours-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
      }
      & .work-hours-detail {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: 400;
        & span {
          display: block;
        }
      }
      &.venue-notification {
        background-color: white;
        padding: 20px;
        font-size: 16px;
        line-height: 1.2em;
        color: $primaryColor;
        border: 1px solid $primaryColor;
        text-wrap: balance;
      }
    }
  }

  & .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    & .main-venue-image {
      position: relative;
      height: 265px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.2);
      @media (min-width: 1024px) {
        height: 365px;
      }
      & .single-venue-carousel-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      & .swiper-counter {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        font-weight: 700;
        z-index: 10;
      }
    }
    & .venue-content {
      padding: 0 20px;
      &__intro {
        padding: 4.5rem 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        & .intro-header {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          & .intro-header-left {
            display: flex;
            gap: 20px;
          }
          &-venue-logo {
            width: 78px;
            height: 78px;
            object-fit: cover;
            object-position: center;
          }
          &-main {
            padding-bottom: 5px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & p {
              font-size: 30px;
              font-weight: 900;
            }
            & .graded-value {
              color: #e74410;
              font-size: 20px;
              font-weight: 700;
            }
            & .rev-count {
              font-size: 15px;
              color: #bcbcbc;
            }
          }
          &-fav-star {
            width: 30px;
            height: 30px;
            object-fit: cover;
            object-position: center;
            background-color: yellow;
          }
        }
        & .intro-comments-anchor {
          display: flex;
          align-items: center;
          gap: 20px;
          & img {
            &:hover {
              transform: scale(1.05);
            }
          }
          & p {
            font-size: 15px;
            font-weight: 600;
            color: #bcbcbc;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        & .intro-venue-desc {
          font-size: 18px;
          line-height: 1.5;
          margin-top: 20px;
          font-family: $primaryFont !important;
          @media (min-width: 1024px) {
            margin-top: 0;
          }
          & p,
          & span {
            font-size: 18px !important;
            line-height: 1.8 !important;
            margin-bottom: 15px;
            font-weight: 400 !important;
            font-family: $primaryFont !important;
            color: #474244 !important;
            &:last-child {
              margin-bottom: 0;
            }
            & span {
              font-family: $primaryFont !important;
            }
          }
          & p.read-more-less {
            color: #e74410 !important;
          }
        }
      }
      &__schedule {
        padding: 4.5rem 0;
        & h4 {
          font-size: 28px;
          line-height: 1.2;
        }

        & .activities-table {
          padding-top: 20px;

          & .table-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #b7b7b7;
            padding-bottom: 20px;

            & .activity-date {
              font-size: 16px;
              font-weight: 700;
            }

            & .prev-activity,
            .next-activity {
              display: flex;
              align-items: center;
              gap: 8px;
              cursor: pointer;
              min-width: 100px;

              & img {
                width: 24px;
                height: 24px;
              }
            }

            & .prev-activity {
              & img {
                transform: rotate(90deg);
              }
            }

            & .next-activity {
              display: flex;
              align-items: center;
              gap: 8px;
              justify-content: flex-end;

              & span {
                font-weight: 500;
                color: #5e5a5c;
                line-height: 18px;
                margin-top: 4px;
              }

              & img {
                transform: rotate(-90deg);
              }
            }
          }

          & .table-data {
            min-height: 250px;

            & .no-activities {
              text-align: center;
              font-size: 20px;
              color: #474244;
              font-weight: 700;
              padding-top: 20px;
            }
            & .table-row {
              display: flex;
              justify-content: space-between;
              gap: 30px;
              padding: 20px 0;
              border-bottom: 1px solid #b7b7b7;

              & .table-left-side,
              .table-right-side {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
              }

              & .table-left-side {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                & .table-activity-time {
                  font-size: 18px;
                  color: #888888;
                  min-width: 110px;
                }

                & .table-activity-name {
                  font-size: 20px;
                  color: #474244;
                  font-weight: 700;
                }
              }

              & .table-right-side {
                display: flex;
                align-items: center;

                & .table-activity-note {
                  font-size: 16px;
                  color: #888888;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  max-width: 300px;
                }

                & .table-activity-price {
                  font-size: 18px;
                  color: #474244;
                  font-weight: 700;

                  & span {
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
      &__grades {
        padding: 4.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        & .grades-top {
          & h4 {
            font-size: 28px;
            line-height: 1.2;
            & span {
              margin-left: 20px;
              font-size: 18px;
              color: #bcbcbc;
              font-weight: 400;
            }
          }
          & article {
            padding: 20px 0 4.5rem 0;
            & .grades-top-head {
              display: flex;
              align-items: center;
              gap: 20px;
              font-size: 40px;
              line-height: 1.2;
              font-weight: 900;
              color: #e74410;
            }
            & .grades-top-grid {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              row-gap: 20px;
              column-gap: 60px;
              padding-top: 20px;
              & .grades-top-grid-item {
                & p {
                  font-size: 16px;
                  font-weight: 700;
                }
                & .scale {
                  margin-top: 5px;
                  position: relative;
                  width: 100%;
                  height: 20px;
                  background-color: #1e3d89;
                  border-radius: 20px;
                  overflow: hidden;
                  & .scale-fill {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: #e74410;
                    border-radius: 20px;
                  }
                }
              }
            }
          }
        }
        & .grades-bottom {
          display: flex;
          color: #e74410;
          border: 1px solid #e74410;
          border-radius: 20px;
          padding: 40px 60px;
          gap: 60px;
          & .grades-bottom-content {
            & h4 {
              font-size: 25px;
            }
            & p {
              font-size: 18px;
            }
          }
        }
      }
      &__comments {
        padding: 4.5rem 0;
        & .single-comment {
          padding: 20px 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border-bottom: 1px solid #b7b7b7;
          overflow-x: auto;
          &:first-child {
            border-top: 1px solid #b7b7b7;
          }
          & p {
            color: #5e5a5c;
            font-size: 15px;
          }
          & span {
            display: block;
            font-size: 20px;
            font-weight: 700;
            &.grade {
              color: #e74410;
            }
          }
        }
      }
    }
  }
}

.explore-network-single-venue-wrap {
  &--desktop .content {
    width: 69%;
  }
  &--mobile {
    & .venue-notification {
      background-color: white;
      padding: 20px;
      font-size: 16px;
      line-height: 1.2em;
      color: $primaryColor;
      border: 1px solid $primaryColor;
      margin-top: 20px;
      text-wrap: balance;
    }
    & .content {
      & .main-venue-image {
        border-radius: 0;
        box-shadow: none;
      }
      & .venue-content {
        padding: 0;
        & .sidebar-bottom {
          padding: 2.5rem 0 2.5rem 0;
          max-width: unset;
          & .wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }

          & .work-hours {
            display: flex;
            flex-direction: column;
            padding: 20px 0 10px 0;
            border-top: 1px solid #b7b7b7;
            border-bottom: 1px solid #b7b7b7;
            & .wrapper {
              gap: 10px;
            }
            & .work-hours-head {
              width: 100%;
              display: flex;
              justify-content: space-between;
              &--left {
                display: flex;
                gap: 20px;
                & .work-hours-title {
                  font-size: 20px;
                  line-height: 24px;
                  font-weight: 700;
                  text-transform: none;
                }
              }
              &--right {
                & img {
                  transition: all 0.3s;
                  &.rotate {
                    transform: rotate(180deg);
                  }
                }
              }
            }
            & .venue-info-detail {
              padding-left: 45px;
              height: 0;
              opacity: 0;
              overflow: hidden;
              transition: all 0.3s;
              & .work-hours-detail {
                font-weight: 500;
              }
              &.active {
                height: auto;
                opacity: 1;
              }
            }
          }
        }
        &__intro {
          & .intro-header-main {
            & p {
              font-size: 21px;
              margin-bottom: 20px;
            }
          }
          & .intro-comments-anchor {
            margin: 20px 0;
          }
          & .intro-venue-desc {
            margin-bottom: 40px;
            & p {
              font-size: 16px;
              line-height: 30px;
            }
          }
        }
        & .single-venue-map {
          border-radius: 0;
          margin-bottom: 20px;
        }
        &__grades {
          & .grades-top {
            & h4 {
              font-size: 20px;
              line-height: 24px;
              font-weight: 700;
              & span {
                font-size: 15px;
              }
            }
            & article {
              & .grades-top-grid {
                grid-template-columns: 1fr;
                column-gap: 0;
              }
            }
          }
          & .grades-bottom {
            border: none;
            padding: 20px 0;
            & .grades-bottom-content {
              & h4 {
                font-size: 22px;
              }
              & p {
                margin-top: 10px;
                font-size: 16px;
              }
            }
          }
        }
        &__schedule {
          display: flex;
          flex-direction: column;
          padding: 0 0 10px 0;
          // border-top: 1px solid #b7b7b7;
          border-bottom: 1px solid #b7b7b7;
          & .wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          & .schedule-head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--left {
              display: flex;
              gap: 20px;
              & .schedule-title {
                font-size: 20px;
                line-height: 24px;
                font-weight: 700;
                text-transform: none;
              }
            }
            &--right {
              & img {
                transition: all 0.3s;
                &.rotate {
                  transform: rotate(180deg);
                }
              }
            }
          }
          & .activities-table {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.3s;
            padding-top: 0;
            &.active {
              height: auto;
              opacity: 1;
              padding: 20px 0;
              &.isGeneral {
                padding: 0;
              }
            }
          }
        }
        &__comments {
          padding: 0 0;
          & .single-comment {
            & span {
              font-size: 16px;
            }
            & p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.table-data.mobile {
  & .table-right-side {
    flex-direction: column !important;
    align-items: flex-end !important;
    flex-wrap: nowrap !important;
    flex-shrink: 0 !important;
  }
  & .table-left-side {
    flex-wrap: nowrap !important;
    gap: 15px !important;
    & .table-activity-time {
      flex-shrink: 0 !important;
      font-size: 12px !important;
      display: block !important;
      min-width: 45px !important;
    }
    & .table-activity-name {
      font-size: 16px !important;
    }
    & .table-activity-note {
      font-size: 14px !important;
      max-width: 100% !important;
    }
  }
  & .table-row {
    padding: 20px 10px !important;
    gap: 10px !important;
  }
}

.activities-table.mobile {
  margin: 0 -3rem;
  // padding: 0 2rem;
  & .table-top {
    padding: 10px !important;
  }
  & .no-activities {
    font-size: 16px !important;
  }
}
