.get-fitpass-steps-section {
  background-color: $white;
  // padding: 0 0 9rem 0;
  // @media (min-width: 1024px) {
  //   padding: 0 0 9rem 0;
  // }
}

.get-fitpass-steps-wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
  & .get-fitpass-steps-video {
    & .img-3steps-intro {
      height: 74px;
      width: 90%;
      object-fit: contain;
      object-position: bottom center;
    }
    & .fitpass-video {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: red;
      width: 100%;
      // aspect-ratio: 1/0.73;
      min-height: 24rem;
      max-height: 24rem;
      border-radius: 10px;
      overflow: hidden;
      @media (min-width: 360px) {
        min-height: 27rem;
        max-height: 27rem;
      }
      @media (min-width: 411px) {
        min-height: 31rem;
        max-height: 31rem;
      }
      @media (min-width: 460px) {
        min-height: 36rem;
        max-height: 36rem;
      }
      @media (min-width: 567px) {
        min-height: 47rem;
        max-height: 47rem;
      }
      @media (min-width: 1024px) {
        min-height: 26rem;
        max-height: 26rem;
      }
      @media (min-width: 1200px) {
        min-height: 32rem;
        max-height: 32rem;
      }
      & .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
      }
      & .play-icon {
        z-index: 99;
        cursor: pointer;
      }
    }
    #myVideo {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      background: url("/assets/images/videoCoverIphone.png") no-repeat center
        center;
      background-size: cover;
    }
    & .img-head {
      margin: 0 auto 3rem;
    }
  }

  & .get-fitpass-steps-content {
    & .content-right {
      min-height: 74px;
      margin-bottom: 4rem;
      display: flex;
      align-items: center;
      @media (min-width: 1024px) {
        align-items: flex-start;
      }
    }
    & h2 {
      font-size: 24px;
      font-weight: 400;
      // margin-bottom: 6.5rem;
      // align-self: center;
      @media (min-width: 960px) {
        font-size: 32px;
      }
      & span {
        font-weight: 800;
      }
    }
    & .simple-steps-container {
      margin-bottom: 9rem;
      & .simple-step {
        display: flex;
        gap: 15px;
        margin-bottom: 50px;
        align-items: flex-start;
        @media (min-width: 960px) {
          gap: 15px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        & .simple-step-icon {
          width: 30px;
          height: 30px;
          background-color: $primaryColor;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          font-weight: 800;
          border-radius: 50%;
          line-height: 1;
          flex-shrink: 0;
          font-size: 16px;
        }
        & .simple-step-content {
          padding-top: 5px;
          & h3 {
            font-size: 16px;
            color: #373737;
            line-height: 1;
            margin-bottom: 10px;
            font-weight: 800;
            @media (min-width: 960px) {
              font-size: 18px;
            }
          }
          & p {
            font-size: 16px;
            color: #7a7a7a;
            line-height: 1.2;
            // font-weight: 600;
          }
        }
      }
    }
  }
}
