.hero {
  position: relative;
  padding: 3rem 0 4rem 0;
  color: $white;
  z-index: 2;
  height: 100%;
  @media (min-width: 411px) {
    padding: 5rem 0;
  }
  @media (min-width: 1200px) {
    padding: 10rem 0;
  }
  & .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  & .hero-overlay {
    position: absolute;
    right: 0;
    bottom: -2rem;
    width: 80rem;
    height: 51.2rem;
    background-image: url('/assets/images/ilustration-background-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
  }
  & h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    @media (min-width: 321px) {
      font-size: 4rem;
      margin-bottom: 4rem;
    }
    @media (min-width: 411px) {
      font-size: 6rem;
    }
    @media (min-width: 480px) {
      font-size: 56px;
    }
    @media (min-width: 960px) {
      margin-bottom: 7rem;
      font-size: 56px;
    }
    & span {
      display: block;
    }
  }
  & p {
    font-size: 2.5rem;
    line-height: 1.2;
    flex: 1;
    @media (min-width: 321px) {
      font-size: 2.5rem;
    }
    @media (min-width: 370px) {
      font-size: 2.7rem;
    }
    @media (min-width: 567px) {
      font-size: 3rem;
    }
    & span {
      display: block;
      @media (min-width: 1200px) {
        display: block;
      }
    }
    &.for-partners {
      & span {
        display: block;
      }
    }
  }
  & .hero-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    @media (min-width: 567px) {
      flex: unset;
    }
    @media (min-width: 1200px) {
      // unset flex grow
      flex: 1;
    }
    & p {
    }
    & .btn-wrap {
      @media (min-width: 1024px) {
        margin-right: 60px;
      }
    }
  }
}

.hero-custom {
  // & .hero-top {
  //   & h1 {
  //     font-size: 4rem;
  //     line-height: 0.9;
  //     margin-bottom: -0.5rem;
  //     @media (min-width: 380px) {
  //       font-size: 5rem;
  //     }
  //     @media (min-width: 1024px) {
  //       font-size: 56px;
  //     }
  //   }
  // }
  // & h1 {
  //   & span {
  //     font-weight: 700;
  //   }
  // }
  // & .big {
  //   font-size: 90px;
  //   font-weight: 900;
  //   @media (min-width: 380px) {
  //     font-size: 110px;
  //   }
  //   @media (min-width: 1024px) {
  //     font-size: 170px;
  //   }
  // }
  // & p {
  //   line-height: 0.8;
  //   & span {
  //     font-size: 35px;
  //     font-weight: 900;
  //     @media (min-width: 380px) {
  //       font-size: 50px;
  //     }
  //     @media (min-width: 1024px) {
  //       font-size: 80px;
  //     }
  //   }
  // }
}

.home-page-slider-wrapper.home-page-slider-wrapper--header.custom {
  background-image: url('/assets/dummyImages/mobile-v.jpg');
  @media (min-width: 1024px) {
    background-image: url('/assets/dummyImages/hero-custom-slider.jpg');
  }
}

.hero-custom {
}
