.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 140px 40px;

  & h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  & button {
    margin: 0;
    padding: 12px;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    font-size: 14px;
    border-radius: 10px;
  }
}
