.topbar {
  position: relative;
  background-color: $primaryColor;
  padding: 10px 0;
  color: $white;
  min-height: 45px;
  display: flex;
  align-items: center;
  // height: 50px;
  @media (min-width: 1024px) {
    padding: 5px 0;
  }
  & .top-bar-flex {
    display: flex;
    align-items: center;
  }
  & .top-bar-logo-lang-wrap {
    display: none;
    gap: 4.5rem;
    @media (min-width: 1200px) {
      display: flex;
    }
  }
  & p.hero-small {
    flex: 1;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    font-weight: 600;
    // text-wrap: balance;
    @media (min-width: 280px) {
      font-size: 13px;
    }
    @media (min-width: 1024px) {
      font-size: 15px;
    }
    & span {
      display: inline-block;
    }
  }
  & a {
    color: inherit;
  }
}

.lang-switch {
  &--mobile {
    display: flex;
    @media (min-width: 1200px) {
      display: none;
    }
  }
  &--desktop {
    display: none;
    @media (min-width: 1200px) {
      display: flex;
    }
  }
  cursor: pointer;
  align-items: center;
  gap: 10px;
  position: relative;
  & span {
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    width: 30px;
    padding-left: 10px;
  }
  & .lang-switch-arrow {
    transition: all 0.3s ease-in-out;
    &.active {
      transform: rotate(180deg);
    }
  }
  & .lang-switch-dropdown {
    position: absolute;
    top: 30px;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.1s;
    // text-align: center;
    cursor: pointer;
    @media (min-width: 1200px) {
      background-color: $primaryColor;
    }
    &.active {
      height: auto;
      opacity: 1;
      z-index: 99;
      cursor: pointer;
    }
    & li {
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
      line-height: 1;
      padding: 4px 0;
      border-bottom: 1px solid $white;
      padding-left: 10px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.lang-switch-arrow {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &.active {
    transform: rotate(180deg);
  }
}

.newsletter-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  // background-color: rgba(0, 0, 0, 0.5);
  & .newsletter-modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 9999;
    padding: 40px 20px 20px 20px;
    border-radius: 10px;
    // max-width: 500px;
    width: 90%;
    width: 880px;
    @media (min-width: 960px) {
      padding: 40px;
    }
    & .form-top {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 25px;
    }
    & input[type='text'],
    & input[type='email'] {
      width: 100%;
      border: none;
      background-color: transparent;
      // border-bottom: 1px solid #c3c3c3;
      // font-size: 18px;
      // font-weight: 400;
      // color: #686868;
      // margin-bottom: 20px;
      // padding-left: 8px;
      // &::placeholder {
      //   color: #686868;
      //   opacity: 1;
      // }
      // &:focus {
      //   outline: none;
      //   border-bottom: 2px solid #373737;
      // }
    }
    & button {
      margin: 20px 0 0 0 !important;
      width: 100%;
    }
    & h2 {
      font-size: 20px;
      color: #373737;
      margin-bottom: 3rem;
      @media (min-width: 960px) {
        font-size: 24px;
      }
    }
    & .terms-error {
      color: #ff0033 !important;
    }
  }
  & svg {
    position: absolute;
    right: 10px;
    top: 10px;
    stroke: #373737;
    @media (min-width: 960px) {
      right: 10px;
      top: 10px;
    }
  }
  & .form-bottom-flex {
    display: flex;
    // align-items: center;
    gap: 1rem;
    // padding-left: 2rem;
    margin-top: 10px;
    & input[type='checkbox'] {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background-color: $white;
      border: 1px solid #9fb0d9;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      flex-shrink: 0;
      &:checked::after {
        content: '';
        position: absolute;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $primaryColor;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    & p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;
      color: #595858;
    }
    & span {
      display: block;
      line-height: 1.2;
    }
    & .links-form {
      & a {
        color: #373737;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $primaryColor;
          text-decoration: underline;
        }
      }
    }
  }
}

.iframe-newsletter-popup {
  width: 320px;
  height: 350px;
  @media (min-width: 360px) {
    width: 340px;
    height: 350px;
  }
  @media (min-width: 411px) {
    width: 380px;
    height: 380px;
  }
  @media (min-width: 567px) {
    width: 580px;
    // height: 350px;
  }
  @media (min-width: 768px) {
    width: 860px;
    height: 725px;
  }
}
