@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$white: #fff;
$black: #000;
$primaryColor: #e5431f;
$secondaryColor: #373737;
$mainBlue: #1e3d89;
$lightGray: #f1f1f1;
$mediumGrey: #888888;
$gray: #666666;

$primaryFont: "Wix Madefor Display", sans-serif;
$secondaryFont: "Bebas Neue", sans-serif;
